#topbar-file #topbar {
  overflow: visible;
  background-color: #fb8c00;
  position: fixed;
  top: 0;
  width: 100%;
  /*box-shadow: 0 2px 4px rgba(0,0,0,.08);*/
  box-shadow: 0px 0.5px 10px 0px rgba(0,0,0,.15);
}

#topbar, #sidebar {
  z-index: 1;
}

#sidebar-header {
  z-index: 2;
}

#topbar-file .topbar-item {
  float: right;
}

#topbar-file .topbar-item:hover:not(#carrello-topbar) { /*#ordini-topbar:hover, #notifiche:hover, #menu:hover {*/
  background-color: #f57c00 !important;
}

#topbar-file #carrello-topbar:hover {
  background-color: #ef6c00 !important; //#e26500;
}

#topbar-file #menu {
  float: left;
  transition: margin 0.3s;
  color: black;
  text-decoration: none;
  padding: 1em;
  cursor: pointer;
}

#topbar-file #accedi, #topbar-file #registrati {
  float: right;
  /*transition: all 0.3s;*/
  color: black;
  text-decoration: none;
  padding: 1em;
}

#topbar-file #menu.slide {
  margin-left: 60%;
  /*transition: all 0.3s;*/
}

#topbar-file .dropdown {
  overflow: hidden;
}

#topbar-file .dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 1em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#topbar-file .dropdown-content {
  width: 100%;
  max-width: 100%;
  list-style: none;
  margin: 0;
  right: 0;
  padding: 0;
  display: none;
  position: absolute;
  background-color: white;//#f9f9f9;
  max-height: 80vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  text-align: left;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#notifiche-content ul, #ordini-content ul {
  width: 100%;
  max-width: 100%;
  list-style: none;
  margin: 0;
  right: 0;
  padding: 0 !important;
}

#carrello-content>ul {
  width: 100%;
  max-width: 100%;
  list-style: none;
  right: 0;
  padding: 0;
}

#topbar-file #ordini-content li, #notifiche-content li {
  padding: 10px;
  display: block;
  float: none;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #eeeeee;
}

#topbar-file #ordini-content li:nth-child(even), #notifiche-content li:nth-child(even) {
  background-color: #f2f2f2;
}

.circle {
  display: inline-block;
  margin-left: 0.4em;
  background-color: #d32f2f;
  border-radius: 0.6em;
  border: 1px solid #d32f2f;
  width: 0.6em;
  height: 0.6em;
}

.badge {
  border-radius: 0.8em;
  font-size: 13px;
  background: #d32f2f;
  margin-left: 0.3em;
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  top: 1em;
  display: inline;
}

#carrello-content li {
  padding: 0.5em 0.6em 0.5em 1.1em;
  display: block;
  float: none;
  margin: 0;
  text-align: left;
}

#topbar-file li>a {
  color: blue;
}

#topbar-file #ordini-content>div:first-child, #notifiche-content>div:first-child {
  padding: 0.8em 0 0.8em 0.5em;
  display: block;
  float: none;
  margin: 0;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 2px solid #e0e0e0;
}

#topbar-file .header>span {
  font-size: 17px;
  font-weight: bold;
  margin-right: 3%;
}

#carrello-topbar {
  display: none;
  background-color: #f57c00;
}

#carrello-content>ul {
  /*margin-top: 0;*/
}

#topbar-file #prezzo {
  margin-left: 0.7em;
  float: right;
}

#topbar-file #ordini-content li>.ordine {
  display: block;
}

#topbar-file #ordini-content li>.stato, #topbar-file #ordini-content li>.cliente {
  display: block;
  font-style: italic;
}

#topbar-file #sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 0;
  top: 0;
  left: 0;
  background-color: white; //#f5f5f5;
  overflow-x: auto;
  transition: width 0.3s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#topbar-file #sidebar-header {
  width: 100%;
  padding: 0 5%;
  text-decoration: none;
  color: black;
  display: block;
  background-color: #ffa726;
}

#topbar-file #sidebar-header>h3 {
  margin: 0;
  padding: 0;
  padding-left: 0.27em;
  font-size: 19px;
  font-weight: normal;
}

#topbar-file #sidebar a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 19px;
  /*padding: 1em;*/
  /*transition: all 0.3s;*/
}

#topbar-file #sidebar.active a {
  padding: 1em;
}

#topbar-file #sidebar a:hover {
  background-color: #f5f5f5;
}

#topbar-file #sidebar.active {
  width: 60%;
}

#topbar-file .show {
  display: block;
}

#topbar-file .topbar-active {
  background-color: #eeeeee;
  //border-right: 5px solid gray;
  pointer-events: none;
  cursor: default;
}

#topbar-file .btn-text {
  display: none;
}

#topbar-file svg {
  /*margin-right: 0;*/
}

#topbar-file h3 {
  /*padding: 10px;*/
}

#topbar-file .carrello-row {
  margin-top: 0.8em !important;
}

.hidden {
  display: none !important;
}

.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes shake {
  33% { transform: rotate(30deg); }
  66% { transform: rotate(-30deg); }
}

.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes glow {
  33% { background-color: #e65100; }
  66% { background-color: #f4511e; }
}

@media (min-width: 576px) {
  #topbar-file #sidebar.active {
    width: 40%;
  }

  #topbar-file #menu.slide {
    margin-left: 40%;
  }

  #topbar-file .dropdown-content {
    min-width: 400px; /* absolute measures because we KNOW the screen is > 576px */
    max-width: 500px;
    width: auto;
  }

  #prezzo {
    display: block;
  }

  #carrello-topbar .dropdown-content {
    min-width: 400px;
  }
}

@media (min-width: 768px) {
  #topbar-file #sidebar.active {
    width: 30%;
  }

  #topbar-file #menu.slide {
    margin-left: 30%;
  }

  #topbar-file .btn-text {
    display: inline;
  }

  #topbar-file svg {
    margin-right: .4em;
  }

  .badge {
    border-radius: 0.8em;
    font-size: 13px;
    background: #d32f2f;
    margin-left: -1.3em;
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    top: 1em;
    display: inline;
  }
}
