body {
  background-color: #f5f5f5;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

.main {
  margin-top: 4em;
}

.main>header {
  text-align: left;
  padding-left: 20px;
}

.main>header>h1 {
  margin-bottom: 0;
}

.error {
  padding: 10px 22px;
}

table {
  margin-bottom: 10px;
}

#in-attesa, #approvate {
  padding: 0px 22px;
}

#approvate {
  margin-bottom: 10%;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

tr:nth-of-type(odd) {
  background: #eee;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 15px;
}

td {
  padding: 8px 15px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 22px;
  list-style: none;
  margin: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.alert {
  padding: 20px;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert.info {
  background-color: #90caf9;
}

.alert.error {
  background-color: #f44336;
}

.alert.success {
  background-color: #4CAF50;
}
