#query, #result {
  padding: 1em;
}

textarea {
  vertical-align: top;
}

#query input[type='submit'] {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#query input[type='submit']:hover {
  background-color: #ddd;
}
