<header><h3>Aggiungi Ingrediente</h3></header>
<section id="dati-ingrediente">
  <header><h4>Dati Ingrediente</h4></header>
  <ul>
    <li><span class="label">Ingrediente: </span> <span id="nome-ingrediente"></span></li>
    <li><span class="label">Categoria: </span> <span id="nome-categoria"></span></li>
  </ul>
</section>
<section id="dati-fornitura">
  <header><h4>Dati Fornitura</h4></header>
  <form>
    <input type="hidden" id="ingrediente"></input>
    <input type="hidden" id="categoria"></input>
  <div class="form-group">
    <label for="cucina">Cucina:</label>
    <select class="form-control" id="cucina" name="cucina"></select>
  </div>
  <div class="form-group">
    <label for="costo">Costo:</label>
    <input type="number" class="form-control" id="costo" name="costo" step="0.1" value="0.00" min="0.00" max="99.99"></input>
  </div>
    <button id="aggiungi-ingrediente">Aggiungi</button>
  </form>
</section>
