<header><h3>Aggiungi Piatto</h3></header>
<section id="dati-piatto">
  <header><h4>Dati Piatto</h4></header>
  <form>
  <div class="form-group form-base">
    <label for="cucina">Cucina:</label>
    <select class="form-control" id="cucina" name="cucina"></select>
  </div>
  <div class="form-group form-base">
    <label for="categoria">Categoria:</label>
    <select class="form-control" id="categoria" name="categoria"></select>
  </div>
  <div class="form-group form-base">
    <label for="nome-piatto">Nome:</label>
    <input type="text" class="form-control" id="nome-piatto" name="nome-piatto" maxlength="25"></input>
  </div>
  <div class="form-group form-base">
    <label for="costo">Prezzo:</label>
    <input type="number" class="form-control" id="costo" name="costo" step="0.1" value="0.00" min="0.00" max="99.99"></input>
  </div>
  <div class="form-group form-base">
    <label  class="modificabile" for="modificabile">Modificabile:</label>
    <input type="checkbox" class="form-control" id="modificabile" name="modificabile"></input>
  </div>
  <div class="form-group form-ingredienti">
    <label for="categoria-ingrediente">Categoria Ingrediente:</label>
    <select class="form-control" id="categoria-ingrediente" name="categoria-ingrediente"></select>
  </div>
  <div class="form-group form-ingredienti">
    <label for="ingrediente">Ingrediente:</label>
    <select class="form-control" id="ingrediente" name="ingrediente"></select>
  </div>
    <ul id="ingredienti-selezionati" class="form-ingredienti"></ul>
    <button id="indietro" class="form-ingredienti">Indietro</button>
    <button id="aggiungi-ingrediente" class="form-ingredienti">Aggiungi</button>
    <button id="aggiungi-piatto" class="form-ingredienti">Salva</button>
    <button id="avanti" class="form-base">Avanti</button>
  </form>
</section>
