<header><h3>Aggiungi Carta</h3></header>
<form>
<div class="form-group">
  <label for="tipo-carta">Tipo carta:</label>
  <select class="form-control" id="tipo-carta" name="tipo-carta">
    <option value="carta-di-credito" selected>Carta di credito</option>
    <option value="paypal">Paypal</option>
    <option value="poste-pay">Poste pay</option>
    <option value="bancomat">Bancomat</option>
  </select>
</div>
<div class="form-group">
  <label for="intestatario">Intestatario:</label>
  <input type="text" class="form-control" id="intestatario" name="intestatario"/>
</div>
<div class="form-group">
  <label for="numero">Numero:</label>
  <input type="text" class="form-control" id="numero" name="numero"/>
</div>
<div class="form-group">
  <span class="label">Scadenza:</span>
  <label class="visuallyhidden" for="mese">Scadenza mese:</label>
  <input type="number" class="form-control" id="mese" name="mese" value="1" min="1" max="12"/>
  <span class = "separator">/</span>
  <label class="visuallyhidden" for="anno">Scadenza anno:</label>
  <input type="number" class="form-control" id="anno" name="anno" value="19" min="19" max="30"/>
</div>
  <button id="salva-carta" class="salva">Salva</button>
</form>
