.alert {
  padding: 1.2em;
  background-color: #f44336;
  color: white;
  margin-bottom: 1em;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 4em;
  z-index: 1;
}

.closebtn {
  margin-left: 1.5em;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert.info {
  background-color: #90caf9;
}

.alert.error {
  background-color: #f44336;
}

.alert.success {
  background-color: #4CAF50;
}

.alert.warning {
  background-color: #ff9800;
}
