/* Style the list */
ul.breadcrumb {
  padding: 0.5em 1px;
  list-style: none;
  margin: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 17px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  color: blue;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  //color: #01447e;
  text-decoration: underline;
}
