body {
  background-color: #f5f5f5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

.error {
  margin-top: 4em;
}

#completamento, #pagamento, #esito {
  background-color: white;
  display: block;
  width: 98%;
  margin: 1%;
  margin-bottom: 5%;
}

#pagamento {
  max-width: 500px;
  margin: 1% auto;
}

#completamento>header, #pagamento>header, #esito>header {
  padding-left: 2.7%;
  background-color: #f5f5f5;
  padding-bottom: 0.2em;
}

h2 {
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  padding: 0 0 1em 0;
  margin: 0;
  border-bottom: 2px solid #ddd;
}

#riepilogo, #completa, #pagamento>form, #esito>p {
  background-color: white;
  padding: 3% 3% 3% 3%;
}

#completa::after, #pagamento>form::after, #completamento::after {
  content: "";
  clear: both;
  display: table;
}

.piatto {
  padding: 0.4em 0;
  border-top: 1px solid #ddd;
}

.piatto:first-child {
  border: none;
}

.piatto .nome {
  font-weight: normal;
  font-size: 18px;
}

.piatto>ul>li {
  font-style: italic;
}

#riepilogo ul {
  list-style: none;
  padding-left: 0;
}

ul.modifiche {
  padding-left: 1%;
}

.error ul {
  padding: 3%;
}

.ordine>li {
  padding: 2% 0 0 0;
}

.totale {
  padding: 1em 2% 2% 0;
  font-size: 19px;
  font-weight: bold;
  border-top: 2px solid #ddd;
}

.prezzo {
  display: inline-block;
  margin-left: 2%;
}

#completa label {
  float: left;
}

#completa input[type='time'], #completa select, #completa textarea {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 1%;
}

#orario {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
}

#completa input[type="submit"], #completa input[type="button"] {
  /*
  width: 49%;
  padding: 3%;
  margin: 0;
  */
}

textarea {
  vertical-align: top;
}

#pagamento .row {
  padding: 1.5% 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

#completa select {
  height: 3em;
}

input[type='submit'], input[type='button'], .modal button {
  float: right;
  width: 7em;
}

input[type='submit'], input[type='button'], .modal button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type='submit']:hover, input[type='button']:hover, .modal button:hover {
  background-color: #ddd;
}

/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

span.card{
  margin-right: 10px;
  margin-left: 5px;
}

span.numero-carta{
  margin-right: 10px;
}


.last.row input {
  float: right;
}

.aggiungi-carta {
  cursor: pointer;
  display: inline-block;
}

input[type="radio"] {
  margin-right: 0.8em;
}

.aggiungi-carta svg {
  margin-right: 0.5em;
}

.hidden {
  display:none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4em auto; /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid #888;
  width: 90%;
}

.modal-content::after {
  clear: both;
  content: "";
  display: table;
}

.modal p {
  font-size: 18px;
  margin: 0.35em 0 1em 0.1em;
}

.modal label, .modal .label{
  display: inline-flex;
  width: 40%;
  margin-bottom: 2%;
}

.modal .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal .separator{
  margin-left: 10px;
  margin-right: 10px;
}

.modal input{
  margin-bottom: 2%;
}

.modal header{
  margin-bottom: 3%;
}
/*

.modal{
 display: none;
 position: fixed;
 z-index: 1;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
*/
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#esito a {
  color: blue;
}

@media (min-width: 768px) {
  #riepilogo, #completa {
    float: left;
    width: 49%;
  }

  .modal-content {
    width: 50%;
  }
}
