/* all */

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1.25em;
}

body>header>h1 {
  margin-bottom: 0;
}

section>header {
  text-align: left;
  padding-left: 20px;
}

ul.ordini {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  max-width: 700px;
}

ul.piatti {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span.ristorante {
  font-weight: bold;
  margin-bottom: 1%;
}

span.data, span.stato-ordine {
  float: right;
  text-align: right;
  font-weight: bold;
  margin-right:4%;
}

div.no-ordini{
  padding-left: 20px;
}

ul.piatti{
  margin: 2% 0 1% 0;
  font-style: italic;
}

span.prezzo{
  display: block;
  font-weight: bold;
  margin: 3% 4% 7% 80%;
  text-align: right;
}

span.prezzo::after {
  clear: both;
  content: "";
  display: table;
}
