<header><h3>Crea Ingrediente</h3></header>
  <form>
  <div class="form-group">
    <label for="nome-ingrediente">Nome:</label>
    <input type="text" class="form-control" id="nome-ingrediente" name="nome" maxlength="25"></input>
  </div>
  <div class="form-group">
    <label for="categoria-ingrediente">Categoria:</label>
    <select class="form-control" id="categoria-ingrediente" name="categoria" onchange="checkCategorie();"></select>
  </div>
    <button id="crea-ingrediente">Crea</button>
  </form>
