<header><h3>Proponi nuova categoria</h3></header>
  <form>
  <div class="form-group">
    <label for="categoria">Categoria:</label>
    <input type="text" class="form-control" id="categoria" name="categoria" maxlength="25"></input>
  </div>
  <div class="form-group">
    <label for="cucina">Cucina:</label>
    <select class="form-control" id="cucina" name="cucina" onchange="checkCucine();"></select>
  </div>
    <button id="invia-richiesta">Invia richiesta</button>
  </form>
