/* all */

body {
  background-color: #f5f5f5;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

/* main */

#cucine {
  width: 98%;
  background-color: white;
  margin: 1%;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  font-size: 0;
}

#cucine a, #cucine p {
  font-size: 1rem;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
}

#cucine a {
  border-top: 1px solid #eeeeee;
}

#cucine a:hover {
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  #cucine a {
    width: 50%;
  }
}
