.container+div{
  text-align: center;
  margin-top: 50px;
}

header{
  margin-bottom: 20px;
}

.alert{
  text-align: center;
  width: 50%;
  margin: 20px auto 0px;
}

ul{
  text-align: left;
}

li{
  margin-top: 5px;
}

h2{
  font-size: 120%;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1{
  font-size: 190%;
  margin-top: 30px;
  text-align: center;
}

form{
  width: 50%;
  margin: auto;
}

span{
  font-weight: bold;
}
