body {
  background-color: #f5f5f5;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

.main {
  margin: 4em 0;
}

.main>header {
  text-align: left;
  padding-left: 1.4em;
}

.main>header>h1 {
  margin-bottom: 0;
}

.error {
  padding: 10px 22px;
}

table {
  margin-top: 0.9em;
}

.less, .more {
  margin-right: 2em;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  margin-top: 1em;
}

#ordini-in-corso, #ordini-conclusi, #ordini-in-consegna {
  padding: 1.3em 1.3em 0 1.3em;
  z-index: 0;
}

#ordini-in-corso {
  padding-top: 0.1em !important;
}

h2 {
  margin: 0 0 0 0.1em;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

tr:nth-of-type(odd) {
  background: #eee;
}

tr:nth-of-type(even) {
  background: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 1em;
}

td {
  padding: 0.5em 0.2em;
  text-align: center;
}

td:first-child {
  padding: 0;
  text-align: left;
}

ul.piatti {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.modifiche {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0;
}

ul.piatti>li {
  font-size: 18px;
  padding: .38em;
}

tr:nth-of-type(odd) td:first-child ul.piatti>li:nth-child(odd) {
  background-color: #eee;
}

tr:nth-of-type(odd) td:first-child ul.piatti>li:nth-child(even) {
  background-color: #e0e0e0;
}

tr:nth-of-type(even) td:first-child ul.piatti>li:nth-child(odd) {
  background-color: white;
}

tr:nth-of-type(even) td:first-child ul.piatti>li:nth-child(even) {
  background-color: #e0e0e0;
}

/*
ul.piatti>li:nth-child(odd) {
  background-color: white;
}
*/


ul.modifiche>li {
  font-style: italic;
}

.isaddition {
  display: inline-block;
}

.isaddition.yes {
  width: 0.9em;
}

.isaddition.no {
  margin-left: 0.1em;
  width: 0.8em;
}

/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

tr button {
  background-color: #616161;
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

tr button:hover {
  background-color: #424242;
}


fieldset {
  border: 0;
  padding: 0;
  margin: 0 !important;
}

legend {
  font-size: 23px;
  padding-bottom: 0.5em;
}

.modal input {
  margin-right: 10px;
}

.modal {
 display: none;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1em;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal input {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal input:hover {
  background-color: #ddd;
}

.row {
  padding-top: 0.5em;
}

label {
  font-size: 20px;
  vertical-align: middle;
  margin: 0 0 0 0.4em !important;
}

.last.row input {
  float: right;
}

@media only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

  /* hidden but accessible */
  thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  tr:not(:first-child) {
    margin-top: 1em;
  }

  tr {
    border: 1px solid #ddd;
    border-bottom: none;
  }

  table {
    border: none;
  }

	td {
		border: none;
		border-bottom: 1px solid #ddd;
		position: relative;
		padding-left: 50%;
    text-align: left;
	}

  ul.piatti {
    padding-left: 50%;
  }

  ul.piatti li {
    padding-left: 0;
  }

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

  ::before {
    font-size: 20px;
  }

	/* label */
	td:nth-of-type(1):before { content: "Piatti"; }
	td:nth-of-type(2):before { content: "Orario"; }
	td:nth-of-type(3):before { content: "Note"; }
	td:nth-of-type(4):before { content: "Totale"; }
	td:nth-of-type(5):before { content: "Pagato"; }
	td:nth-of-type(6):before { content: "Cliente"; }
	td:nth-of-type(7):before { content: "Piano"; }

	#ordini-conclusi td:nth-of-type(8):before, #ordini-in-consegna td:nth-of-type(8):before {
    content: "Fattorino";
  }
  #ordini-conclusi td:nth-of-type(9):before, #ordini-in-consegna td:nth-of-type(9):before {
    content: "Data";
  }

  .modal-content {
    width: 90% !important;
  }
}

/*
.alert {
  padding: 20px;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert.info {
  background-color: #90caf9;
}

.alert.error {
  background-color: #f44336;
}

.alert.success {
  background-color: #4CAF50;
}
*/
/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
