/* all */

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

header::after {
  clear: both;
  content: "";
  display: table;
}

/* headers */

#ingredienti-forniti, #ingredienti-disponibili {
  width: 98%;
  background-color: white;
  margin: 1%;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

#ingredienti-forniti>header, #ingredienti-disponibili>header {
  border-bottom: 2px solid #eee;
}

#ingredienti-forniti>header>h2, #ingredienti-disponibili>header>h2 {
  font-size: 22px;
  margin: 0.5em 0 0.5em 0.5em;
}


#ingredienti-forniti>header>*, #ingredienti-disponibili>header>* {
  display: inline-block;
}

#ingredienti-forniti>header>button, #ingredienti-disponibili>header>button {
  float: right;
  margin-top: 0.45em !important;
  margin-right: 0.45em !important;
}

/* main */

#ingredienti-forniti button, #ingredienti-disponibili button, .modal button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal button {
  font-size: 16px !important;
}

#ingredienti-forniti button:hover, #ingredienti-disponibili button:hover, .modal button:hover {
  background-color: #ddd;
}

.disabled {
  opacity : 0.6;
}

.hidden{
  display: none;
}

#ingredienti-forniti ul, #ingredienti-disponibili ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ingredienti-forniti li, #ingredienti-disponibili li {
  padding: 1em;
}

li.cucina, li.categoria-ingredienti {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 1em;
  border-bottom: 2px solid #eee;
}
/*
li.cucina:nth-child(even) {
  background-color: #eee;
}
*/

li.categoria-ingrediente:nth-child(odd) {
  background-color: #f5f5f5;
}

span.nome-categoria-ingrediente{
  font-weight: lighter;
}

li.cucina>ul.categorie-ingredienti {
  border: 1px solid gray;
}

li.categoria-ingrediente {
  //border-bottom: 1px solid gray;
}

li.categoria-ingrediente, li.ingrediente  {
  font-weight: lighter;
  //border: 1px solid gray;
}

li.cucina li.ingrediente {
  border-top: 1px solid #bdbdbd;
}

li.categoria-ingredienti li.ingrediente:nth-child(odd) {
  background-color: #f5f5f5;
}

li.categoria-ingrediente {
  //padding: 1em 1em .5em 1em;
  padding: 1em;
}

li.ingrediente {
  padding: 0.5em 1em !important;
}

li.ingrediente button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0.4em !important;
  margin: 4px 2px 2px 0;
}

li.cucina>.symbol, li.categoria-ingredienti>.symbol {
  cursor: pointer;
  margin-left: 1em;
  display: inline-block;
}

li.ingrediente .symbol {
  cursor: pointer;
  margin-right: 1em;
  display: inline-block;
}
/*
li.categoria-ingredienti ul.ingredienti {
  border: 1px solid gray;
}
*/

.modifying{
  margin-left: 40px;
}

/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

span.nome-cucina,  span.nome-categoria-ingrediente{
  font-weight: lighter;
  display: inline-block;
}

span.nome-cucina {
  font-size: 21px;
}

li.cucina span.nome-categoria-ingrediente{
  font-size: 19px;
}

li.categoria-ingredienti span.nome-categoria-ingrediente{
  font-size: 21px;
}

span.nome-ingrediente {
  margin-right: 1em;
}

#ingredienti-forniti ul.categorie-ingredienti, #ingredienti-disponibili ul.ingredienti, #ingredienti-disponibili div.no-ingredienti{
  display: none;
}

#ingredienti-forniti span.nome-categoria-ingrediente{
  font-size: 19px;
  font-weight: lighter;
}

ul.ingredienti, div.no-ingredienti {
  //margin-top: 20px;
  font-style: italic;
  font-weight: lighter;
}

.modifying{
  margin-left: 40px;
}

div.no-cucine{
  margin-left: 20px;
}

.modal ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

#modal-file form{
  margin-left: 20px;
}

#modal-file label, #modal-file .label{
  display: inline-block;
  width: 40%;
}

#modal-file span:not(.label):not(.errori span), #modal-file input, #modal-file select{
  margin-left: 10%;
  width: 30%;
}

.modal{
 display: none;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media(max-width: 330px) {
.modal ul li>* {
  display: block;
}

#modal-file form, #modal-file ul {
  margin-left: 0;
}

.modal>.form-group>* {
  display: block;
}
}
