body {
  background-color: #f5f5f5;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

.main {
  margin-top: 4em;
}

.main>header {
  text-align: left;
  padding-left: 20px;
}

.main>header>h1 {
  margin-bottom: 0;
}

#categorie-cibo, #carrello {
  margin: 0 0 0 1%;
  background-color: white;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

#categorie-cibo {
  float: left;
  width: 98%;
}

#carrello {
  float: right;
  width: 35%;
  margin-right: 1%;
  display: none;
}

#categorie-cibo>a, #categorie-cibo>p {
  cursor: pointer;
  padding: 20px;
  display: block;
  text-decoration: none;
  color: black;
}

#categorie-cibo>header, #carrello>header {
  padding-left: 20px;
}

#categorie-cibo>a:hover {
  background-color: #e0e0e0;
}

#categorie-cibo>a svg {
  float: right;
  transition: all 0.3s;
  z-index: 1;
}

#categorie-cibo>a svg>path {
  z-index: 0;
}

#categorie-cibo>a.active {
  background-color: #e0e0e0;
}

#categorie-cibo>a.active svg {
  display: block;
  /*transform: rotate(90deg);*/
  z-index: 0;
}

#piatti>p {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: black;
}

.piatti, #piatti {
  display: none;
  list-style: none;
  padding: 0;
}

.piatti.visible {
  display: block;
}

.piatti>li {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: black;
}

.piatti>li::after {
  content: "";
  clear: both;
  display: table;
}

.piatti .ingredienti {
  display: block;
  font-size: 13px;
  font-style: italic;
}

.piatti .prezzo {
  margin-top: 7px;
  float: right;
  padding-right: 15px;
}

.piatti button {
  display: inline-block;
  margin-top: 1.5px;
  height: 30px;
  width: 30px;
  padding: 1px 7px;
  cursor: pointer;
  float: right;
  text-decoration: none;
  color: black;
  font-size: 16px;
  background-color: #fb8c00;
  border: 0;
  text-align: center;
}

.id {
  display: none;
}

.carrello h3 {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  padding-left: 20px;
  margin: 0;
}

#topbar-file .carrello h3 {
  padding: 10px;
}

.carrello .modify, .carrello .total, .carrello h3, .carrello .checkout {
  display: none;
}

.carrello .modify, .carrello .checkout {
  float: right;
  margin: 0 10px 10px;
}

.carrello ul {
  list-style: none;
  padding: 0;
}

.carrello ul>li {
  padding: 10px 10px 10px 20px;
  display: block;
}

.currency+.value {
  margin-left: 5px;
}

.carrello .total::after {
  content: "";
  clear: both;
  display: table;
}

.carrello .total>.value{
  margin: 0 10px 10px 10px;
}

.carrello .total>span {
  float: right;
}

.carrello .item-price {
  float: right;
  margin-left: 5%;
}

/*
.carrello .item-name, .item-quantity, .item-price {
  display: inline-block;
}
*/

.minus, .plus, .item-modify-area {
  display: none;
}

.item-quantity {
  margin-left: 10px;
}

.carrello li::after {
  content: "";
  clear: both;
  display: table;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ingredienti-strutturali li  {
  padding-top: 10px;
}

.modal-content>div {
  padding-left: 10px;
}

.modal ul {
  list-style: none;
  padding: 0;
}

.prezzo {
  display: inline-block;
  margin-left: 10px;
}

.ingredienti-strutturali li>div {
  display: none;
}

@media (min-width: 768px) {
  #carrello {
    display: block;
  }

  #categorie-cibo {
    width: 62%;
  }

  .modal-content {
    width: 50%;
  }
}

@media (min-width: 991.98px) {
  #categorie-cibo {
    width: 25%;
  }

  #categorie-cibo>a.active + .piatti.visible {
    display: none;
  }

  #piatti {
    margin: 0 0 0 1%;
    background-color: white;
    overflow: scroll;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 0;
    width: 41%;
  }

  #piatti>header {
    padding-left: 20px;
  }

  #carrello {
    width: 30%;
  }
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 22px;
  list-style: none;
  margin: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
