/* all */

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

body>section {
  padding: 1.5em 1em 1em 1em;
}

body>section::after {
  clear: both;
  content: "";
  display: table;
}

body>section:first-of-type {
  padding-top: 0.5em !important;
}

/* sections */

section>header {
  margin: 0;
  padding: 0;
}

section header>h2 {
  padding: 0 !important;
  margin: 0;
  margin-bottom: 0.5em;
}

/* logo area */

input#seleziona-img{
  display: none;
}

#logo-area img{
  width: 10em;
  height: 10em;
  object-fit: cover;
}

img:hover{
  opacity: 0.6;
}

img:hover+span{
  z-index: 1;
  visibility: visible;
}

img+span{
  visibility: hidden;
  display: flex;
}

input[type="file"] {
  line-height: 0;
}

section#logo button{
  margin-top: 1em;
}

/* others */

.row>*{
  display: inline-block;
}

.row button {
  margin-left: 2em;
}

ul.giorni {
  margin-top: 1.5em;
}

ul.giorni li{
  display: inline;
}

#logo button, #dati-ristorante button, #chiusura button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#logo button:hover, #dati-ristorante button:hover, #chiusura button:hover {
  background-color: #bdbdbd;
}

.disabled {
  opacity : 0.6;
}

/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

ul{
  list-style-type: none;
  margin: 1em 0 0 0;
  padding: 0 0 0 0.1em;
}

li:not(:last-child) {
  margin-bottom: 1.5em;
}

label, span.label{
  display: inline-block;
  width: 100%;
}

input{
  font-size: 15px;
}

#links {
  margin-bottom: 4em;
}

.modal{
 display: none;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {

  #chiusura {
    margin-right: 3em;
    margin-bottom: 8em;
  }

  #logo {
    width: 45%;
    float: left;
    margin-right: 3em;
  }

  #dati-ristorante {
    width: 45%;
    float: left;
    margin-bottom: 2em;
  }

  #chiusura {
    float: left;
    width: 45%;
  }

  #links {
    float: left;
    width: 30%;
  }
}

@media(min-width: 430px) {
  label, span.label{
    width: 15em;
  }
}
