/* all */
a {
  -webkit-tap-highlight-color: transparent;
}

textarea,
select,
button,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  outline: none !important;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

.main {
  margin-top: 4em;
  margin-bottom: 4em;
}

.main::after {
  content: "";
  clear: both;
  display: table;
}

/* header */

.fornitore-header {
  margin-left: 1%;
  margin-bottom: 1%;
}

#logo-area>img {
  margin-top: 0.4em;
  width: 7em;
  height: 7em;
  object-fit: cover;
}

#logo-area {
  float: left;
}

.note {
  color: red;
  word-wrap: break-word;
}

.fornitore-header h1 {
  margin: 0 0 0.1em 0;
}

#info {
  font-size: 18px;
  padding-left: 7em;
}

#info>span {
  display: block;
  font-weight: lighter;
  padding-top: 1em;
  color: #37474f;
  font-size: 15px;
}

#info>span>svg {
  margin-right: 0.6em;
}

/* categorie cibo */

#categorie-cibo, #carrello {
  margin: 0 0 0 1%;
  background-color: white;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

#categorie-cibo {
  float: left;
  width: 98%;
}

#carrello {
  float: right;
  width: 35%;
  margin-right: 1%;
  display: none;
}

#categorie-cibo>a, #categorie-cibo>p {
  cursor: pointer;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 19px;
}

#categorie-cibo>a{
  border-top: 1px solid #eeeeee;
}

#categorie-cibo>header, #carrello>header {
  padding-left: 1.3em;
}

#categorie-cibo>a:hover {
  background-color: #f5f5f5;
}

#categorie-cibo>a svg {
  float: right;
  transition: all 0.3s;
  z-index: 1;
}

#categorie-cibo>a svg>path {
  z-index: 0;
}

#categorie-cibo>a.active {
  background-color: #eeeeee;
}

#categorie-cibo>a.active svg {
  display: block;
  transform: rotate(90deg);
  z-index: 0;
}

/* piatti */

#piatti>p {
  padding: 0.5em 1em;
  display: block;
  text-decoration: none;
  color: black;
}

#piatti {
  display: none;
}

.piatti {
  /*display: none;*/
  list-style: none;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s;
  margin: 0;
}

.piatti>li {
  padding: 1em 1em;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eeeeee;
}

.piatti>li:last-child {
  border: none;
}

.piatti>li::after {
  content: "";
  clear: both;
  display: table;
}

.piatti .ingredienti {
  display: block;
  font-size: 13px;
  font-style: italic;
}

.piatti .prezzo {
  margin-top: 0.25em; /*7px; //0.34em;*/
  float: right;
  padding-right: 1.2em; /*15px; //1.2em;*/
  font-size: 17px;
}
/*
.piatti button {
  display: inline-block;
  margin-top: 1.5px;
  height: 30px;
  width: 30px;
  padding: 1px 7px;
  cursor: pointer;
  float: right;
  text-decoration: none;
  color: black;
  font-size: 17px;
  background-color: #fb8c00;
  border: 0;
  text-align: center;
}
*/

.piatti button {
  cursor: pointer;
  height: 1.2em; /* 30px*/
  width: 1.2em;
  float: right;
  text-decoration: none;
  color: black;
  font-size: 23px;
  background-color: #ff9800;//#fb8c00;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  border: none;
}

.piatti button:hover:not(.inactive) {
  background-color: #f57c00;
}

button.inactive {
  opacity: 0.5;
  cursor: no-drop;
}

/* carrello */

#carrello {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 4em;
}

.carrello h3 {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  padding-left: 1.3em;
  margin: 0;
}

#topbar-file .carrello h3 {
  /*padding: 0.65em;*/
}

.carrello h3 {
  padding: 0.2em 0 0.2em 0.1em;
  font-size: 20px;
}

.carrello-row::after {
  display: table;
  clear: both;
  content: "";
}

.carrello .modify {
  margin: 0 0 0.5em 0 !important;
}

.carrello-row {
  border-bottom: 2px solid #e0e0e0;
  margin: 0 0.5em 0 0.9em;
}

.carrello button, .modal button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.carrello button:hover, .modal button:hover {
  background-color: #ddd;
}

.carrello h3 {
  display: inline-block;
  margin-bottom: 0.55em;
}

/*
.carrello-row, .carrello .modify, .carrello .total, .carrello h3, .carrello .checkout {
  display: none;
}
*/

.carrello .modify, .carrello .total, .carrello .checkout {
  display: none;
}

.carrello .modify, .carrello .checkout {
  float: right;
  margin: 0 0.5em 0.5em;
}

.carrello ul {
  list-style: none;
  padding: 0;
  /*
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  */
}

.carrello ul>li {
  padding: 0.5em 0.6em 0.5em 1.1em;
  display: block;
}

.carrello ul>li:nth-child(even) {
  background-color: #f5f5f5;
}

.item-quantity {
  font-size: 17px;
  font-style: italic;
  /*margin: 0 5% 0 5%;*/
}

.modification {
  padding-left: 0.5em;
  font-size: 15px;
  font-style: italic;
}

.modification.last {
  /*margin-bottom: 0.5em;*/
}

.modification .isaddition {
  display: inline-block;
}

.isaddition.yes {
  width: 0.9em;
}

.isaddition.no {
  margin-left: 0.1em;
  width: 0.8em;
}

.carrello .item-name {
  font-size: 18px;
}

.carrello .item-price {
  /*
  right: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  */
  float: right;
  margin-top: 0.09em;

  font-size: 18px;
}

.row {
  position: relative;
}

.plus, .minus {
  padding: 0.3em 0.6em !important;
}

.minus {
  margin-left: 0.7em !important;
  margin-right: 0.5em !important;
}

.plus {
  margin-left: 0.5em !important;
}

.item-modify-area button {
  margin: 0;
}

.item-modify-area .item-remove {
  margin-right: 0.3em !important;
}

.currency+.value {
  margin-left: 0.4em;
}

.carrello .total {
  border-top: 2px solid #e0e0e0;
  padding: 2% 0;
  margin: 0 0.6em 0.3em 0.9em;
}

.carrello .total::after {
  content: "";
  clear: both;
  display: table;
}

.carrello .total>.value{
  font-size: 18px;
  margin: 0 0 0.5em 0.5em;
  /*
  margin: 0 10px 10px 10px;
  */
}

.carrello .total>.currency {
  font-size: 18px;
}

.carrello .total>span {
  float: right;
}

.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes shake {
  33% { transform: rotate(30deg); }
  66% { transform: rotate(-30deg); }
}

.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes glow {
  33% { background-color: #e65100; }
  66% { background-color: #f4511e; }
}

/*
.carrello .item-name, .item-quantity, .item-price {
  display: inline-block;
}
*/

.minus, .plus, .item-modify-area {
  display: none;
}

.item-quantity {
  margin-left: 0.5em;
}

.carrello li::after {
  content: "";
  clear: both;
  display: table;
}

.speseconsegna {
  font-size: 18px;
}


/* modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4em auto; /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid #888;
  width: 90%;
}

.modal-content::after {
  clear: both;
  content: "";
  display: table;
}

.modal p {
  font-size: 18px;
  margin: 0.35em 0 1em 0.1em;
}

.modal .selected-item {
  font-style: italic;
}

.modal button {
  /*margin-bottom: 0 !important;*/
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#aggiungi button {
  float: right;
}

#modifica.modal span:not(.close):not(#modifica.modal header span) {
  font-size: 17px;
}

#modifica.modal header>h3 {
  margin-top: 0.2em;
  font-size: 20px;
  font-weight: bold;
}

#modifica.modal header>h3>span {
  font-size: 20px;
  font-style: italic;
}


#modifica.modal button:not(.modal-aggiungi) {
  /*margin-left: 0.5em;*/
  /*margin-top: 0 !important;*/
  margin: 0 !important;
  float: right;
}

#modifica.modal .ingredienti-aggiungibili button {
  padding: 0.2em 0.5em !important;
  font-size: 20px;
  border-radius: 50%;
}

.ingredienti-rimovibili button {
  font-size: 20px;
  padding: 0.2em 0.6em !important;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
}

#modifica.modal .modal-content>div {
  /*border: 1px solid gray;*/
  padding: 1em 0;
  border-top: 1px solid #bdbdbd;
}

#modifica.modal li {
  margin: 0;
  padding: 0.2em 0 !important;
  /*border: 1px solid #eee;*/
}

#modifica.modal li>span, .strutturale-row>span {
  display: inline-block;
  padding-top: 0.5em;
}

.strutturale-alt {
  padding: 0.4em 0;
}

.strutturale-alt label {
  display: inline-block;
  padding: 0.2em;
}

.strutturale-alt .prezzo {
  margin: 0.2em 0 0 0 !important;
}


#modifica.modal li:nth-child(even) {
  background-color: #f5f5f5;
}


#modifica.modal ul {
  margin: 0 !important;
}

#modifica.modal li::after {
  content: "";
  clear: both;
  display: table;
}

.ingredienti-strutturali li>div::after {
  content: "";
  clear: both;
  display: table;
}

.strutturale-row {
  display: block;
}

.modal-content>div {
  /*padding-left: 0.5em;*/
}

.modal ul {
  list-style: none;
  padding: 0;
}

#modifica.modal ul {
  max-height: 30vh;
  overflow: hidden;
  overflow-y: scroll;
}

#modifica.modal .prezzo {
  display: inline-block;
  margin-right: 0.7em;
  margin-top: 0.35em;
  float: right;
}

#modifica.modal .total {
  /*
  padd
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  border-top: 2px solid #e0e0e0;
  */
  border-top: 2px solid #e0e0e0 !important;
  padding: 2% 0;
  margin: 0.5em 0 0.3em 0;
}

#modifica.modal .total::after {
  clear: both;
  display: table;
  content: "";
}

#modifica.modal .total>span {
  font-size: 20px;
  float: right;
}

#modifica.modal .total>.value {
  margin-left: 0.3em;
}


#modifica.modal .modal-aggiungi {
  float: right;
  margin: 0 !important;
}

.ingredienti-strutturali li .strutturale-alt {
  display: none;
}

@media (min-width: 768px) {
  #carrello {
    display: block;
  }

  #categorie-cibo {
    width: 62%;
  }

  .modal-content {
    width: 50%;
  }
}

#carrello, #categorie-cibo {
  z-index: 0;
}

.modal {
  z-index: 5;
}

.alert {
  z-index: 1;
}

#topbar-file #ordini-content {
  z-index: 10 !important;
}

@media (min-width: 991.98px) {
  #categorie-cibo {
    width: 25%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 4em;
  }

  #categorie-cibo>a.active + .piatti.visible {
    /*display: none;*/
  }

  #piatti {
    margin: 0 0 0 1%;
    background-color: white;
    overflow: scroll;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 0;
    width: 41%;
  }

  #piatti>header {
    padding-left: 20px;
  }

  #carrello {
    width: 30%;
  }
}

ul.breadcrumb {
  padding: 10px 22px;
  list-style: none;
  margin: 0;
}
