/* all */

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

#piatti {
  width: 98%;
  background-color: white;
  margin: 1%;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  //border: 1px solid gray;
}

#piatti>header {
  border-bottom: 2px solid #eee;
}

#piatti>header>* {
  display: inline-block;
  //border-bottom: 1px solid #eee;
}

#piatti>header>button {
  float: right;
}

#piatti>header>h2 {
  display: none;
  /*
  margin-right: 2em;
  margin-bottom: 0.5em;
  */
}

#piatti>header::after {
  clear: both;
  content: "";
  display: table;
}


#piatti button:not(.modifica-piatto) {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}

#piatti button:hover, .modal button:hover {
  background-color: #ddd;
}

.disabled {
  opacity : 0.6;
}

.hidden{
  display: none;
}

/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.cucina{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 1em;
  border-bottom: 2px solid #eee;
}
/*
li.cucina:nth-child(even) {
  background-color: #eee;
}
*/

li.categoria:nth-child(odd) {
  background-color: #f5f5f5;
}

ul.categorie{
  display: none;
}

span.nome-categoria{
  font-weight: lighter;
}

ul.categorie {
  border: 1px solid gray;
}

li.categoria {
  //border-bottom: 1px solid gray;
}

li.categoria, li.piatto  {
  font-weight: lighter;
  //border: 1px solid gray;
}

li.piatto {
  border-top: 1px solid gray;
}

li.categoria {
  //padding: 1em 1em .5em 1em;
  padding: 1em;
}

li.piatto {
  padding: 0.5em 1em;
}

li.piatto button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0.4em !important;
  margin: 4px 2px 2px 0;
}

li.cucina .symbol {
  cursor: pointer;
}

span.ingredienti-piatto{
  display: block;
  font-style: italic;
  text-overflow: clip;
  font-size: 13px;
}

span.prezzo-piatto{
  margin-left: 1em;
}

.modifying{
  margin-left: 40px;
}

span.nome-cucina,  span.nome-categoria{
  font-weight: lighter;
  display: inline-block;
}

span.nome-cucina {
  font-size: 23px;
}

span.nome-categoria{
  font-size: 19px;
}

button.modifica-piatto{
  margin-left: 2em;
}

div.no-cucine{
  margin-left: 2em;
}

#modal-file ul{
  list-style-position: inside;
}

#modal-file form{
  margin-left: 2em;
}

#modal-file label:not(.modificabile), #modal-file .label{
  display: inline-block;
}

#modal-file span:not(.label):not(.errori span), #modal-file input:not(#modificabile), #modal-file select{
  margin-left: 10%;
  width: 30%;
}

.symbol{
  margin-left: .5em;
  display: inline-block;
}

.modal label, .modal .label{
  display: inline-flex;
  width: 40%;
  margin-bottom: 2%;
}

.modal .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal .separator{
  margin-left: 10px;
  margin-right: 10px;
}

.modal input{
  margin-bottom: 2%;
}

.modal header{
  margin-bottom: 3%;
}

.modal button{
  //display: flex;
  float: right;
  margin-left: auto;
}

.modal-content::after {
  clear: both;
  content: "";
  display: table;
}

.modal button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal{
 display: none;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-ingredienti{
  display: none;
}

span.nome-piatto {
  display: inline-block;
}

.prezzo-piatto::after {
  content: "\A";
  white-space: pre;
}

.a-g, .a-d {
  padding: 0 .5em;
}

#dati-piatto {
  margin-bottom: 3em;
}

@media (min-width: 576px) {
  .prezzo-piatto::after {
    content: "";
    white-space: normal;
  }

  li.piatto button {
    margin-left: 1em !important;
  }
}

@media(max-width: 330px) {
.modal ul li>* {
  display: block;
}

#modal-file form, #modal-file ul {
  margin-left: 0;
}

.modal .form-group>* {
  display: block;
}
}
