/* all */

body {
  background-color: #f5f5f5;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: arial;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

/* main */

#fornitori {
  width: 98%;
  background-color: white;
  margin: 1%;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

#fornitori a, #fornitori p {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
}

#fornitori a {
  border-top: 1px solid #eeeeee;
}

#fornitori a:hover {
  background-color: #f5f5f5;
}

#fornitori a>svg {
  float: right;
}

/* pagination */

.center {
  margin-top: 2em;
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #fb8c00;
  color: white;
  border: 1px solid #fb8c00;
}

.pagination a.disabled {
  color: gray;
  cursor: default;
}

.pagination a:hover:not(.active):not(.disabled) {
  background-color: #ddd;
}
