/* all */

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

header::after {
  clear: both;
  content: "";
  display: table;
}

#cucine-fornite, #cucine-non-fornite {
  width: 98%;
  background-color: white;
  margin: 1%;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  //border: 1px solid gray;
}

#cucine-fornite>header, #cucine-non-fornite>header {
  border-bottom: 2px solid #eee;
}

#cucine-fornite>header>h2, #cucine-non-fornite>header>h2 {
  font-size: 22px;
  margin: 0.5em 0 0.5em 0.5em;
}

#cucine-fornite>header>*, #cucine-non-fornite>header>* {
  display: inline-block;
  //border-bottom: 1px solid #eee;
}

#cucine-fornite>header>button, #cucine-non-fornite>header>button {
  float: right;
  margin-top: 0.45em !important;
  margin-right: 0.45em !important;
}

#cucine-fornite button, #cucine-non-fornite button, .modal button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}

.modal button {
  font-size: 16px !important;
}

#cucine-fornite button:hover, #cucine-non-fornite button:hover, .modal button:hover {
  background-color: #ddd;
}

.disabled {
  opacity : 0.6;
}

.hidden{
  display: none;
}

ul.cucine, ul.categorie {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.cucina{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 1em;
  border-bottom: 2px solid #eee;
}

li.categoria {
  padding: 0.5em 1em;
}

li.categoria:nth-child(odd) {
  background-color: #f5f5f5;
}

li.cucina .minus, li.cucina .plus {
  margin-right: 1em;
  margin-left: 0 !important;
}


span.nome-cucina,  span.nome-categoria{
  font-weight: lighter;
  display: inline-block;
}

span.nome-cucina {
  font-size: 23px;
}

.categorie {
  font-style: italic;
  font-weight: lighter;
  display: none;
}

.modifying{
  margin-left: 40px;
}


div.no-cucine{
  margin-left: 20px;
}

.symbol {
  cursor: pointer;
  margin-left: 1em;
  display: inline-block;
}

.modal{
 display: none;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
