/* all */

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

#dati-personali, #password, #metodi-pagamento {
  margin-left: 1.2em;
}

section>header {
  display: inline-block;
  margin-right: 1em;
}

section>header>h2 {}

section ul {
  margin-top: 1em !important;
}

button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

#dati-personali button, #metodi-pagamento header+button {
  margin-left: 0;
}

#password {
  margin-top: 3em;
}

#password button {
  margin-left: 0;
}

ul.dati-personali, ul.carte-pagamento{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  margin-bottom: 1.5%;
}

div.aggiungi-carta{
  margin-top: 2.5%;
}

.aggiungi-carta svg {
  cursor: pointer;
}

span.minus{
  margin-right: 10px;
}


label, span.label{
  display: inline-block;
  //width: 10em;
  margin-right: 1em;
}

input{
  font-size: 15px;
}

span.card{
  margin-right: 10px;
}

span.numero-carta{
  margin-right: 10px;
}

.plus{
  margin-left: 10px;
}

.hidden{
  display:none;
}

/* but visible for screen readers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal{
 display: none;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal button {
  margin-bottom: 0 !important;
  font-size: 16px !important;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-content{
    width: 60%;
  }

}
