.modal label, .modal .label{
  display: inline-flex;
  width: 40%;
  margin-bottom: 2%;
}

.modal .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal .separator{
  margin-left: 10px;
  margin-right: 10px;
}

.modal input{
  margin-bottom: 2%;
}

.modal header{
  margin-bottom: 3%;
}

.modal button{
  font-size: 85%;
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  margin-left: auto;
}
