<header><h3>Modifica Password</h3></header>
<form>
  <div class="form-group">
    <label for="a_pwd">Password Attuale:</label>
    <input type="password" class="form-control" id="a_pwd" name="a_pwd" maxlength="15"/>
  </div>
  <div class="form-group">
    <label for="n_pwd">Nuova Password:</label>
    <input type="password" class="form-control" id="n_pwd" name="n_pwd" maxlength="15"/>
  </div>
  <div class="form-group">
    <label for="c_pwd">Conferma Password:</label>
    <input type="password" class="form-control" id="c_pwd" name="c_pwd" maxlength="15"/>
  </div>
  <button id="salva-password" class="salva">Salva</button>
</form>
