/* all */

* {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

/* header*/

body>header {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
}

body>header>h1 {
  margin-bottom: 0;
}

/* searchbar */

.search-container {
  width: 98%;
  text-align: center;
  padding: 0.5em;
  margin: 1%;
  background-color: white;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.search-container label {
  display: none;
}

.search-container input {
  float: left;
  width: 80%;
  font-size: 17px;
  padding: 10px;
  border: 2px solid rgb(238, 238, 238);
  margin-right: 1%;
}

.search-container button {
  cursor: pointer;
  float: left;
  width: 19%;
  font-size: 17px;
  padding: 12px;
  background: #ddd;
  border: none;
}

.search-container button:hover {
  background: #ccc;
}

.search-container>form::after {
  content: "";
  clear: both;
  display: table;
}

/* main */

#fornitori {
  float: right;
}

#cucine {
  float: left;
}

#cucine, #fornitori {
  width: 98%;
  background-color: white;
  margin: 1%;
  overflow: scroll;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

#fornitori a, #cucine a, #fornitori p, #cucine p {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
}

/* mobile-first */
#fornitori>a, #cucine>a {
  display: none;
  border-top: 1px solid #eeeeee;
}

#fornitori a:hover, #cucine a:hover {
  background-color: #f5f5f5;
}

#fornitori a>svg, #cucine a>svg {
  float: right;
}

h2 {
  margin: 0;
}

h2>svg {
  float: right;
}

@media (min-width: 576px) {
  #cucine>a, #fornitori>a {
    display: block;
  }
}

@media (min-width: 768px) {
  #cucine, #fornitori {
    width: 48%;
  }
}
